<!DOCTYPE html>
<html>
    <head>
        <title>Get Item from the Table</title>
    </head>
    <body>

        {% include 'navbar.html' %}

        <h1>Get item</h1>
        
        <form action="/get-table-item">
            <input type="text" name="tableName" value="StudentDetails"><br>
            <input type="text" name="regNo" placeholder="Partition Key"><br>
            <input type="text" name="name" placeholder="Sort Key"><br>
            <input type="submit" value="Submit">
        </form>

    </body>
</html>

