<!DOCTYPE html>
<html>
    <head>
        <title>Create DynamoDB Table</title>
    </head>
    <body>
        <h1>Create DynamoDB Table</h1>
        
        <form action="/create-table" method="POST">
            <label for="table_name">Table Name: </label>
            <input type="text" name="table_name" required/><br>
            <label for="partition_key">Partition Key: </label>
            <input type="text" name="partition_key" required/><br>
            <input type="submit" value="Create Table"/>
        </form>

    </body>
</html>

